{% load my_filters %}
{#<h1>{{ my_steps0}}</h1>#}
{#<h1>{{ my_steps}}</h1>#}
{#<h1>{{ my_steps1}}</h1>#}
{#<h1>{{ my_steps2}}</h1>#}
<form action="" method="post">
{% csrf_token %}
{#{% for i in 9|create_range %}#}
{#	{% if not i|mod:3 %}#}
{#	<br>#}
{#	{%endif%}#}
{#	<input style="width:100px;height:100px" hspace="4" vspace="4" type="button" name="b{{i}}" value="" />#}
{#{% endfor %}#}

{% for i in my_steps0 %}
	{% if i == 0 %}
		<input id={{ forloop.counter0 }} onclick='getid(this);' style="width:100px;height:100px" hspace="4" vspace="4" type="button" name="b{{ forloop.counter }}" value="O" />
	{%endif%}
	{% if i == 1%}
		<input id={{ forloop.counter0 }} onclick='getid(this);' style="width:100px;height:100px" hspace="4" vspace="4" type="button" name="b{{ forloop.counter }}" value="X" />
	{%endif%}
	{% if i == 2 %}
		<input id={{ forloop.counter0 }} onclick='getid(this);' style="width:100px;height:100px" hspace="4" vspace="4" type="button" name="b{{ forloop.counter }}" value="-" />
	{%endif%}
	{% if forloop.counter0 == 2 %}
	<br>
	{%endif%}
	{% if forloop.counter0 == 5 %}
	<br>
	{%endif%}
{% endfor %}
<br>
<br>
<input id="NewGame" type="button" value="New Game"onclick='getid(this);'/>
</form>
<script>
function getid(el){
id=el.id;
var text = 'http://' + window.location.hostname+":"+window.location.port + window.location.pathname+"?id="+id;
alert(window.location.port)

alert(text)

window.location.href = text
}
</script>

