<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action='/loginsys/login/' method='post'>
        {% csrf_token %}
        <label for="username"> Логин  :</label>
        <input type="text" name="username"  id="username" value="">
        <label for="password">Пароль:</label>
        <input type="password" name="password"  id="password" value="">
        <input type="submit" value="login" />

        {% if form.errors %}
            <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
        {% endif %}
    </form>
</body>
</html>